.page-name {
  text-align: center;
}

.navbar {
  background-color: black;
}
.navbar a {
  color: white;
  font-size: 17px;
}
.btn.btn-outline-success {
  color: white;
  border-color: white;
}
.page-name {
  font-size: 56px;
  margin: 25px;
}
.home-image {
  padding: 10px;
  width: 100%;
  max-width: 501px;
}
.trending-name {
  margin: 20px;
}
.page-image {
  width: 100%;
  max-width: 300px;
  margin: 10px;
}
.recipe-name {
  padding: 0 0 10px 0;
  border-bottom: #607d8b 2px solid;
  margin-top: 20px;
}
.fa.fa-clock-o {
  padding-right: 5px;
}
.time-pro {
  padding-right: 20px;
}
.recipe-image {
  max-width: 759px;
  width: 100%;
  margin: 20px 0px;
  padding: 15px 5px;
}
.number-ingredients {
  padding-left: 10px;
}
.number-ingredients li {
  list-style: none;
  padding-bottom: 6px;
  padding-top: 4px;
}
.recipe-ingredients h2 {
  padding: 15px 5px;
}
.nutrition-table td:nth-child(2),
.nutrition-table th:nth-child(2) {
  text-align: right;
}
.nutrition-table h2 {
  padding: 15px 5px;
}
.nutrition-table table {
  max-width: 400px;
}
.row.row-cols-1 .card-body {
  padding: 0px 0px 0px 5px;
  color: black;
}
img.card-img-top {
  height: 232px;
  background: gray;
}
